<?xml version='1.0' encoding='utf-8'?>
<widget id="com.undertheheaven.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>天下牌</name>
    <description>A 2D cross-platform card game</description>
    <author email="dev@example.com" href="https://example.com">UnderTheHeaven Team</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#ff000000" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="30" />
        <preference name="android-targetSdkVersion" value="36" />
    </platform>
</widget>
